doctype html
html(lang="en" class="no-js")
  head
    title CSS Deep App
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='js/vendor.js')
    script(src='js/main.bundle.js')

  body
    h2(class='general-header') CSS Deep Learning Application
    div(class='component-block')
      div(class='dropdown')
        button(class='dropbtn') Cities
        div(class='dropdown-content')
          a(href='#') Brooklyn
          a(href='#') New-York
          a(href='#') Washington
          a(href='#') Las-Vegas
          a(href='#') Seatle
      
      div(class='dropdown')
        button(class='dropbtn') Countries
        div(class='dropdown-content')
          a(href='#') USA
          a(href='#') UK
          a(href='#') Australia
          a(href='#') Canada
          a(href='#') Singapore
          
    script.
      $(document).foundation();
      feather.replace();
