/* First testing block: */
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Anton');
* {
    font-family:sans-serif;
}

fieldset {
    margin-top: 10px;
}
/*
ul > :first-child {
    border: 1px groove #000000;
    padding: 2px 5px;
    background-color: #fff245;
}

a:link {
    color: #9966ff;
}

a:visited {
    color: #ff0066;
}

a:hover {
    color: #000000;
}

a:active {
    color: #e60000;
}
*/

/* Third testing block about simple tooltip: */
.dropdown-menu {
    width: 162.234px;
}

.simple-tooltip {
    padding: 15px 20px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 2px 2px 10px #b3b3b3;
    background-color: #ffffff;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    width: inherit;
    margin-bottom: 0;
}

.simple-tooltip:hover {
    background-color: #f2f2f2;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
}

i {
    border: solid #000000;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 8px;
}

.arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
}

.down {
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transform: rotate(-135deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.sm-icons {
    height: 25px;
    width: 25px;
}

.sm-icons:hover {
    opacity: 0.5;
}

.sm-icons-section {
    text-align: center;
    border-top: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #cccccc;
    padding-bottom: 20px;
}

.visible-content {
    margin-top: -12px;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 100%);
    color: #808080;
    float: left;
    width: inherit;
    transition: height 0.7s linear 0.3s;
    -webkit-transition: height 0.7s linear 0.3s;
    -moz-transition: height 0.7s linear 0.3s;
    -o-transition: height 0.7s linear 0.3s;
    height: 0;
}

.visible-content > ul {
    list-style: none;
    padding-left: 0;
    width: inherit;
}

.visible-content ul > :first-child {
    border: 1px solid transparent;
    padding: 15px 20px;
    background-color: inherit;
}

.visible-content ul > :first-child:hover {
    border-top-color: transparent;
    border-bottom: 1px solid #404040;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
}

.visible-content ul > :last-child:hover {
    border-color: transparent;
}

.visible-content ul > :nth-child(9):hover{
    border-color: transparent;
}

.visible-content li {
    padding: 15px 20px;
    cursor: pointer;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    border: 1px solid transparent;
}

.visible-content li:hover {
    color: #000000;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
}

.visible-content li:hover {
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
}

/* Prepare a special animation-effect for the transform height of dropdown menu: */
.dropHeight {
    height: 596px;
    transition: height 0.7s linear 0.1s;
    -webkit-transition: height 0.7s linear 0.1s;
    -moz-transition: height 0.7s linear 0.1s;
    -o-transition: height 0.7s linear 0.1s;
}

.contentOfList {
    opacity: 0;
    transition: opacity 0.5s linear 0.1s ;
    -webkit-transition: opacity 0.5s linear 0.1s;
    -moz-transition: opacity 0.5s linear 0.1s;
    -o-transition: opacity 0.5s linear 0.1s;
}

.showContent {
    opacity: 1;
    -webkit-transition: opacity 0.5s linear 0.6s;
    -moz-transition: opacity 0.5s linear 0.6s;
    -o-transition: opacity 0.5s linear 0.6s;
}

.btn-auth {
    text-align: center;
}

.outline-heading {
    margin-top: 620px;
}

.table-outline {
    margin-top: 20px;
    display: table;
    width: 100%;
}

.table-outline-row {
    display: table-row;
}

.table-outline-cell:first-child {
    display: table-cell;
    border: 1px solid #cccccc;
    text-align: center;
    padding: 15px;
}

.table-outline-cell {
    display: table-cell;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.table-outline-cell:hover {
    background-color: #cccccc;
    outline: 4px solid #808080;
    outline-offset: 5px;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -o-transition: .2s linear;
}

.background-list {
    margin-top: 40px;
    background-image: url(lib/backgrounds/Las-vegas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: block;
}

.background-list-ctn {
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 25vh;
    background: rgba(255,255,0,0.6);
    position: absolute;
    padding: 20px;
    outline: 1px double #000000;
}

.background-list-ul {
    text-align: left;
    list-style: circle inside url(lib/list-items/list-items-2.gif);
}

.background-list-ul > li:first-child {
    background: transparent;
    border: none;
    padding-left: 0;
}

.background-list-ul > li:hover {
    outline: 3px solid red;
    cursor: pointer;
}

.position-section {
  margin: 15px 0;
  border: 0.3px solid #cccccc;
  position: relative;
  padding: 15px
}

.chat-ctn {
  position: fixed;
  right: 15px;
  bottom: 20px;
  display: block;
  z-index: 1000;
}

.help-message {
  float: left;
  line-height: 55px;
  font-family: Arial;
  margin-right: 10px;
  background-color: #000000;
  border-radius: 30px;
  color: #ffffff;
  padding: 0 20px;
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  width: auto;
  opacity: 1;
}

.hideWidth {
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  opacity: 0;
}

.chat-help {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #80ff00;
  cursor: pointer;
  border: 3px solid #59b300;
  display: block;
  transition: .5s ease-out;
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -o-transition: .5s ease-out;
}

.chat-help:hover {
  background-color: #59b300;
  transition: .5s ease-out;
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -o-transition: .5s ease-out;
}

.material-icons.chat-icon {
  color: #ffffff;
  border: none;
  font-size: 30px;
  position: absolute;
  right: 8.5px;
  line-height: 42px;
}

.relative-ctn {
  position: relative;
  background: linear-gradient(to bottom, #990099 0%, #660033 100%);
  height: 500px;
  width: 100%;
}

.abs-ctn-1 {
  width: 200px;
  padding: 10px 30px;
  border-radius: 30px;
  height: auto;
  background: linear-gradient(to bottom, #ffffff 0%, #ff99ff 100%);
  position: absolute;
  top: 30px;
  left: 50px;
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}

.img-cards {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  position: absolute;
  background: linear-gradient(to bottom, #ff99ff 0%, #660066 100%);
  border: 3px solid #ff99ff;
}

.first-img {
  right: 30px;
  top: 60px;
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}

.second-img {
  right: 30px;
  top: 240px;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}

.third-img {
  left: 30px;
  top: 280px;
  width: 250px;
  transform: rotate(10deg);
  -webkit-transform: (10deg);
  -moz-transform: (10deg);
  -o-transform: (10deg);
}

.nameCtn {
  width: 100%;
}

.nameSurname {
  width: 48.5%;
  float: left;
  margin-bottom: 3%;
}

#password {
  width: 100%;
  margin-bottom: 5%;
}

.nameSurname:first-child {
  margin-right: 3%;
}

.nameSurname, #password {
  padding: 10px;
  border-radius: 30px;
  border: none;
}

.reg-head {
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  background: linear-gradient(to bottom, #ff99ff 0%, #660066 100%);
  color: #ffffff;
  margin: 5% 0;
}

.inBtn {
  width: 48.8%;
  padding: 5px;
  border-radius: 30px;
  background: linear-gradient(to bottom, #ff99ff 0%, #660066 100%);
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.inBtn:focus, .nameSurname:focus, #password:focus {
  outline: none;
}

/* Customize sticky-header panel: */
.sticky-header {
  list-style-type: none;
  position: sticky;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #ff99ff 0%, #660066 100%);
  z-index: 1000;
}

.sticky-header li {
  float: left;
}

.sticky-header li:first-child {
  border: none;
}

#logo {
    font-family: 'Courgette', cursive;
    font-weight: 600;
    font-size: 22px;
    padding: 10.5px 20px;
    background: linear-gradient(to bottom, #ff99ff 0%, #660066 100%);
}

.sticky-header li:last-child, .sticky-header li:nth-child(6) {
  float: right;
  padding: 15px 5px;
}

.sticky-header li:last-child:hover, .sticky-header li:nth-child(6):hover {
    background: linear-gradient(to bottom, #ff99ff 0%, #660066 100%);
}

.sticky-header li button {
    border: none;
    background-color: #ffffff;
    color: #800080;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 8px;
}

.sticky-header li:nth-child(6) {
    margin-right: 20px;
}

.sticky-header li a {
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 17px 20px;
  transition: 1s linear;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -o-transition: 1s linear;
}

.sticky-header li:hover {
    background: linear-gradient(to bottom, #ff99ff -21%, #660066 53%);
    transition: 1s linear;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -o-transition: 1s linear;
}

.further-ctn {
  height: 3000px;
}

body {
  margin: 0;
}

.image-header-ctn {
    position: relative;
}

.image-header-ctn img {
    width: 100%;
    height: auto;
}

.center-ctn {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

/* Creation a new simple urban planner app user interface: */
.footer {
    background-color: #cc0066;
    color: #ffffff;
    padding: 15px;
}

.mainmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc0066;
    z-index: 1000;
    display: none;
}

.mainmenu .material-icons {
    border: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 15px;
}

.mainmenu .material-icons:first-child {
    margin-bottom: 3px;
}

.mainmenu li {
    float: left;
    vertical-align: middle;
}

.mainmenu li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    padding-top: 22px;
    text-decoration: none;
    border-bottom: 6px solid #cc0066;
    transition: border 0.5s ease;
    -webkit-transition: border 0.5s ease;
    -moz-transition: border 0.5s ease;
    -o-transition: border 0.5s ease;
}

.mainmenu li a:hover {
    border-bottom-color: #99004d;
    transition: border 0.5s ease;
    -webkit-transition: border 0.5s ease;
    -moz-transition: border 0.5s ease;
    -o-transition: border 0.5s ease;
}

.mainmenu li a.active {
    background-color: #99004d;
}

.column {
    float: left;
    padding: 15px;
}

.column.outtab img:nth-child(2) {
    display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    overflow-y: scroll;
}

.buildmenu {
    width: 25%;
}

.outtab {
    width: 65%;
}

.buildmenu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.buildmenu li a {
    margin-bottom: 4px;
    display: block;
    padding: 8px;
    padding-top: 20px;
    background-color: #cc0066;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 6px solid #cc0066;
    transition: border 0.2s ease;
    -webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
}

.buildmenu li a:hover {
    border-bottom-color: #99004d;
    transition: border 0.2s ease;
    -webkit-transition: border 0.2s ease;
    -moz-transition: border 0.2s ease;
    -o-transition: border 0.2s ease;
}
}

.buildmenu li a:active {
    background-color: #99004d;
    color: #ffffff;
}

.hide-stick {
    position: relative;
}

.stick-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    overflow: hidden;
}

.column.buildmenu .material-icons {
    border: none;
    vertical-align: middle;
    margin-bottom: 3px;
}

.header {
    position: relative;
    padding: 15px;
}

.header img {
    width: 100%;
    height: 400px;
}

.header-content {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 30px;
}

.preferences {
    width: 100%;
}

.video-column {
    float: left;
    width: 25%;
    margin: 15px;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.youtube-video {
    display: inline-block;
    width: 225px;
    height: 150px;
    margin: 10px;
    border: none;
}

.youtube-current-video {
    border: none;
    width: 90%;
    height: 600px;
    margin: 10px 20px;
}

.youtube-gallery {
    text-align: center;
    width: 100%;
}

.align-block {
    margin: 20px;
}

.align-block-center {
    background-color: #e60000;
    color: #000000;
    border: 5px solid #000000;
    text-align: center;
    margin: auto;
    width: 60%;

}

.align-block-center hr {
    border: #000000;
}

.align-block-img {
    display: block;
    margin: 20px auto;
    height: auto;
    width: 500px;
}

.floated-block {
    width: 100%;
    position: relative;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

.biography-note {
    margin: auto;
    width: 60%;
}

.note {
    position: relative;
    width: 40%;
    height: auto;
    border: none;
    background: linear-gradient(to bottom, #ff9999 0%, #cc0066 100%);
    color: #ffffff;
    padding: 20px 30px;
}

.right {
    float: right;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: 20px;
}

.left {
    float: left;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 20px;
}

.vertical-align-block {
    margin: 20px auto;
    width: 70%;
    background: linear-gradient(to bottom, #ff9999 0%, #cc0066 100%);
    color: #ffffff;
    height: 350px;
    line-height: 350px;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}

.vertical-align-block h4, .vertical-align-block p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.align-block-first {
    margin: 20px auto;
    width: 60%;
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff -20%, #000000 77%);
    border: none;
    border-radius: 30px;
    color: #ffffff;
}

.align-block-second {
    margin: 20px auto;
    width: 60%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff -20%, #dac292 77%);
    color: #ffffff;
    font-weight: 300;
    border-radius: 30px;
}

.align-block-second h3 {
    line-height: 1.3;
    display: inline-block;
    vertical-align: middle;
}

.align-block-third {
    height: 200px;
    width: 60%;
    margin: 20px auto;
    position: relative;
    background: linear-gradient(to bottom, #ffffff 0%, #4040a1 77%);
    border: none;
    text-align: center;
    color: #ffffff;
    border-radius: 30px;
}

.align-block-third h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.brand-colors {
    width: 5px;
    height: 5px;
}

.combinators-block {
    margin: auto;
    text-align: center;
}

.combinators-table-cell {
    float: left;
    width: 23%;
    padding: 10px;
    border: none;
    background: linear-gradient(to bottom, #660033 0%, #ffcc00 100%);
    border-radius: 30px;
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 10px;
}

.combinators-block:after {
    content: "";
    display: table;
    clear: both;
}

.tooltip-block div p {
    display: none;
    background-color: hsl(151, 100%, 50%);
    color: hsl(151, 100%, 20%);
    padding: 20px;
}

.tooltip-block div:hover p {
    display: block;
}

.tooltip-block div {
    width: 40%;
    margin: 20px auto;
    border: 3px double hsl(151, 100%, 20%);
    padding: 15px;
    cursor: pointer;
}

.pseudo-class-block {
    margin: 20px auto;
    width: 50%;
    border: 3px double hsl(200, 0%, 60%);
    padding: 20px;
}

.pseudo-class-block q {
    padding: 10px;
    color: #ffffff;
    margin: auto 100px;
    border-bottom: 1px solid hsl(200, 0%, 60%);
    line-height: 2;
}

.pseudo-class-block q:lang(en) {
    background-color: hsl(243, 48%, 59%);
}

.pseudo-class-block q:lang(pl) {
    background-color: hsl(26, 48%, 59%);
}

.pseudo-class-block q:lang(ch) {
    background-color: hsl(0, 48%, 59%);
}

.pseudo-class-block q:lang(ru) {
    background-color: hsl(180, 48%, 59%);
}

.btn-types {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.btn-types ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    float: left;
}

.btn-types ul li {
    padding: 10px 20px;
    width: 28%;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    float: left;
}

.btn-types ul li:hover {
    background-color: hsl(40, 100%, 100%);
}

.btn-types ul li:active {
    background-color: hsl(50, 90%, 60%);
}

.btn-types ul li a {
    text-decoration: none;
    display: block;
    color: #ffffff;
}

.btn-types ul li:first-child {
    background-color: hsl(356, 90%, 60%);
}

.btn-types ul li:nth-child(2) {
    background-color: hsl(30, 90%, 60%);
}

.btn-types ul li:last-child {
    background-color: hsl(240, 90%, 60%);
}

@media (max-width: 900px) {
    .combinators-table-cell {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .combinators-table-cell {
        width: 100%;
    }
}
