@import util/mixins
@import util/variables

@import base/foundation-settings
@import base/foundation-includes
//@import base/icons-rendered

@import util/rem-calc
//@import base/fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300')

body
  margin: 30px
  padding: 30px
  border: 3px double $body-border
  font-family: 'Open Sans Condensed', sans-serif
  font-size: 20px
  
.general-header
  border: 3px double $header-border
  margin: 30px
  padding: 10px

.dropdown
  position: relative
  display: inline-block 
  color: $drop-color

  &:hover

    .dropdown-content
      display: block

    .dropbtn
      background-color: $dropbtn-hover

  &:first-child
    float: left

  &:last-child
    float: right
    right: 0

.dropdown-content
  display: none
  position: absolute
  right: 0
  background-color: $header-border
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
  z-index: 1

  a
    color: $drop-color
    padding: 12px 16px
    text-decoration: none
    display: block

    &:hover
      background-color: $dropdown-hover
      color: $body-border

.dropbtn
  background-color: $body-border
  color: $header-border
  padding: 16px
  border: none
  cursor: pointer

.component-block
  border: 3px double $header-border
  margin: 30px
  padding: 10px